body {
	background-color: black !important;
}

.box {
	width: 50%;
	height: 50%;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 10%;
	background-color: blue;
	padding: 40px;
	border-radius: 10px;
	border: 3px solid aliceblue;
}

.card {
	margin: 10px 5px 10px 5px;
	border: 5px solid gray;
	background-color: #d9d9d9;
}

.card-header {
	margin: 0px 5px 15px 5px;
}

.card-body {
	margin: 20px 5px 20px 5px;
}

.btn {
	margin: 3px 0px 3px 0px;
	width: 100%;
}
